* {
    padding: 0;
    margin: 0;
}


/* .body{
    width: 100%;
    height: 500vh;
    background-color: #2ba992;
    display: block;
} */

.special-box {
    z-index: 14;
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: #E6F0E7;
    opacity: 1;
    /* 弹性布局 水平+垂直居中 */
    animation: box 5s ease-in-out forwards;
}

@keyframes box {
    100% {
        opacity: 0;
        z-index: -10;
    }
}

.loader {
    z-index: 15;
    /* 相对定位 */
    position: relative;
    text-align: center;
}

.left-box {
    z-index: 15;
    /* 绝对定位 */
    position: absolute;
    top: 265px;
    left: 760px;
    /* 默认旋转0度 */
    transform: rotate(0deg);
}

.right-box {
    z-index: 15;
    /* 绝对定位 */
    position: absolute;
    top: 281px;
    left: 741px;
    /* 默认旋转90度 */
    transform: rotate(90deg);
}

.dots-top {
    z-index: 15;
    position: absolute;
    top: -100px;
    right: 270px;
    transform: rotate(0deg);
}

.dots-bottom {
    z-index: 15;
    position: absolute;
    top: 100px;
    right: -240px;
    transform: rotate(180deg);
}

.dot {
    z-index: 15;
    /* 绝对定位 */
    position: absolute;
    width: 500px;
    height: 500px;
    z-index: 5;
    /* 默认旋转45度 */
    transform: rotate(45deg);
    /* 执行动画：动画名 时长 线性的 无限次播放 */
    animation: spin 3s linear forwards;
}


/* 圆点 */

.dot::after {
    content: "";
    position: absolute;
    width: 100px;
    height: 100px;
    background-image: url(../img/xiuqiu.png);
    background-size: 100%;
    border-radius: 50%;
}


/* 接下来为每一个圆点设置不同的层级、动画延迟时间、背景颜色、缩放 */


/* 第一个默认就好，不用改 */


/* 从第二个开始 */

.dot:nth-child(2) {
    z-index: 4;
    animation-delay: 0.1s;
}

.dot:nth-child(2)::after {
    transform: scale(0.8);
}

.dot:nth-child(3) {
    z-index: 3;
    animation-delay: 0.2s;
}

.dot:nth-child(3)::after {
    background-color: #83a393;
    transform: scale(0.6);
}

.dot:nth-child(4) {
    z-index: 2;
    animation-delay: 0.3s;
}

.dot:nth-child(4)::after {
    background-color: #ffef3d;
    transform: scale(0.4);
}

.dot:nth-child(5) {
    z-index: 1;
    animation-delay: 0.4s;
}

.dot:nth-child(5)::after {
    background-color: #ffea00;
    transform: scale(0.2);
}


/* 定义动画 */

@keyframes spin {
    0% {
        transform: rotate(405deg);
    }
    5% {
        transform: rotate(405deg);
        animation-timing-function: linear;
    }
    70% {
        transform: rotate(45deg);
        animation-timing-function: linear;
        opacity: 0;
    }
    100% {
        transform: rotate(45deg);
        opacity: 0;
    }
    120% {
        opacity: 0;
        z-index: -10;
    }
}

.tittle-box {
    width: 100%;
    height: 8vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: rgb(103, 125, 106);
    color: aliceblue;
    border: #a5a574;
    border-style: solid;
    border-width: 3px;
    border-radius: 10px;
}

.tittle-big-item {
    width: 35vw;
    height: 8vh;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-item {
    width: 11vw;
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title-item:hover {
    background-color: rgb(136, 142, 100);
}

.title1 {
    width: 11vw;
    height: 4vh;
    color: aliceblue;
    text-decoration: none;
    display: flex;
    font-size: 17px;
    justify-content: center;
    align-items: flex-end;
}

.title2 {
    width: 11vw;
    height: 2vh;
    font-size: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.download-box {
    width: 8vw;
    height: 6vh;
    font-size: 18px;
    margin: 10px;
    text-decoration: none;
    border-radius: 10px;
    border: 0;
    background-color: #199c84;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.logo {
    width: 11vw;
}

.download-box:hover {
    background-color: rgb(178, 168, 98);
}

.big-box {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(230, 236, 231); */
}

.big-box-2 {
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(230, 236, 231); */
}

.box-right {
    height: 11vh;
    background-color: rgb(103, 125, 106);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    color: white;
    font-size: 32px;
    text-align: justify;
    font-family: STSong;
}

.box-left {
    margin-top: 2px;
}

.box-right-2 {
    width: 4vw;
    height: 20vh;
    background-color: rgb(103, 125, 106);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 32px;
    text-align: justify;
    margin-top: 20px;
}

.wenzi {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    color: white;
    font-family: SimSun;
    font-size: 18px;
}

.wenzi1 {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
    color: rgb(0, 0, 0);
    font-family: SimSun;
    font-size: 18px;
}

.wenzi2 {
    text-align: center;
    margin-top: 45px;
    color: rgb(0, 0, 0);
    font-family: SimSun;
    font-size: 18px;
}

.small-box-1 {
    width: 80%;
    height: 48vh;
    background-color: rgb(230, 236, 231);
    background-color: rgb(103, 125, 106);
    display: flex;
    justify-content: center;
    margin-left: 155px;
}

.box-1-left {
    /* width: 75%; */
    height: 45vh;
    background-color: rgb(230, 236, 231);
    background-color: rgb(103, 125, 106);
    justify-content: center;
    align-items: center;
    margin-left: 75px;
    margin-bottom: 20px;
}

.box-1-right {
    width: 80%;
    /* height: 45vh; */
    background-color: rgb(230, 236, 231);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 55px;
}

.small-box-2 {
    width: 80%;
    height: 48vh;
    background-color: white;
    display: flex;
    justify-content: center;
    margin-left: 155px;
}

.box-2-left {
    width: 20%;
    height: 45vh;
    background-color: white;
    display: flex;
    align-items: center;
    /* margin-left: 140px; */
}

.box-2-right {
    width: 70%;
    height: 45vh;
    background-color: white;
    justify-content: center;
    align-items: center;
    margin-left: 40px;
    margin-bottom: 30px;
    margin-top: 20px;
}

.small-box-3 {
    width: 80%;
    height: 45vh;
    background-color: rgb(103, 125, 106);
    display: flex;
    justify-content: center;
    margin-left: 155px;
}

.box-3-left {
    width: 80%;
    height: 45vh;
    background-color: rgb(103, 125, 106);
    justify-content: center;
    align-items: center;
    margin-left: 75px;
    margin-right: 75px;
}

.box-3-right {
    width: 34%;
    height: 45vh;
    background-color: rgb(230, 236, 231);
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-right: 16px; */
}

.hr {
    width: 80%;
    height: 5vh;
    margin-left: 150px;
    margin-bottom: 20px;
}

.hr-1 {
    width: 80%;
    height: 5vh;
    margin-left: 150px;
    margin-top: 85px;
}

.hr-2 {
    width: 100%;
    height: 5vh;
    margin-left: 16px;
    margin-top: 30px;
}

.nine {
    width: 57vw;
    height: 84vh;
    background-color: #a5a574;
    margin-left: 350px;
    margin-top: 20px;
}

.nine-up {
    width: 57vw;
    height: 28vh;
    background-color: black;
    display: flex;
}

.nine-mid {
    width: 57vw;
    height: 28vh;
    background-color: red;
    display: flex;
}

.nine-down {
    width: 57vw;
    height: 28vh;
    background-color: rgb(254, 196, 196);
    display: flex;
}

.nine-1 {
    width: 19vw;
    height: 28vh;
    background-color: aquamarine;
}

.nine-2 {
    width: 19vw;
    height: 28vh;
    background-color: rgb(103, 125, 106);
    font-family: SimSun;
}

.nine-3 {
    width: 19vw;
    height: 28vh;
    background-color: rgb(199, 239, 226);
}

.nine-4 {
    width: 19vw;
    height: 28vh;
    background-color: rgb(103, 125, 106);
    font-family: SimSun;
}

.nine-5 {
    width: 19vw;
    height: 28vh;
    background-color: rgb(202, 227, 198);
}

.nine-6 {
    width: 19vw;
    height: 28vh;
    background-color: rgb(103, 125, 106);
    font-family: SimSun;
}

.nine-7 {
    width: 19vw;
    height: 28vh;
    background-color: rgb(152, 175, 149);
}

.nine-8 {
    width: 19vw;
    height: 28vh;
    background-color: rgb(103, 125, 106);
    font-family: SimSun;
}

.nine-9 {
    width: 19vw;
    height: 28vh;
    background-color: rgb(64, 235, 38);
}

.wenzi-2 {
    text-align: center;
    margin-top: 55px;
    margin-bottom: 30px;
    margin-left: 23px;
    margin-right: 23px;
    color: white;
    font-size: 17px;
}

.box-right-end {
    width: 160px;
    height: 65px;
    background-color: rgb(103, 125, 106);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 29px;
    text-align: center;
    font-family: SimSun;
}

.pao {
    margin-left: 25px;
    margin-top: 20px;
}

.ending {
    width: 76%;
    height: 50vh;
    background-color: #e0f1e8;
    margin-top: 130px;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 30px;
}

.wenzi4 {
    text-align: center;
    /* margin-bottom: 20px; */
    margin-top: 15px;
    color: rgb(0, 0, 0);
    /* font-family: STSong; */
    font-family: STFangsong;
    font-size: 20px;
    margin-left: 40px;
    margin-right: 40px;
}

.eend-1 {
    margin-left: 350px;
}

.eend {
    margin-left: 800px;
}

.hr {
    color: #199c84;
}

.final-logo {
    width: 100vw;
    height: 47vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logoz {
    width: 10vw;
    height: 20vh;
    /* border-radius: 50%; */
    margin: 30px;
}

.final-word {
    font-size: 14px;
    font-family: 黑体;
    line-height: 25px;
}